force-app/main/default/flows/Book_Quote_Add_Discount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Calculate_Discounts</name>
        <label>Calculate Discounts</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>DiscountAmt_Row1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculateDiscount_Row1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DiscountAmt_Row2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculateDiscount_Row2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DiscountAmt_Row3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculateDiscount_Row3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DiscountAmt_Row4</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculateDiscount_Row4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Changes</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>CalculateDiscount_Row1</name>
        <dataType>Currency</dataType>
        <expression>-(({!recordID.Product_i_Price1__c}+{!recordID.Add_On_Price_1__c})*({!Row_1_Discount_Percentage}/100))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalculateDiscount_Row2</name>
        <dataType>Currency</dataType>
        <expression>-(({!recordID.Product_i_Price2__c}+{!recordID.Add_On_Price_2__c})*({!Row_1_Discount_Percentage}/100))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalculateDiscount_Row3</name>
        <dataType>Currency</dataType>
        <expression>-(({!recordID.Product_i_Price3__c}+{!recordID.Add_On_Price_3__c})*({!Row_1_Discount_Percentage}/100))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CalculateDiscount_Row4</name>
        <dataType>Currency</dataType>
        <expression>-(({!recordID.Product_i_Price4__c}+{!recordID.Add_On_Price_4__c})*({!Row_1_Discount_Percentage}/100))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Book Quote Add Discount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate Discounts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Discount_Percentage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Discounts</name>
        <label>Update Discounts</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Changes_Saved</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Discount_1__c</field>
            <value>
                <elementReference>DiscountAmt_Row1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount_2__c</field>
            <value>
                <elementReference>DiscountAmt_Row2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount_3__c</field>
            <value>
                <elementReference>DiscountAmt_Row3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount_4__c</field>
            <value>
                <elementReference>DiscountAmt_Row4</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <screens>
        <name>Changes_Saved</name>
        <label>Changes Saved</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;Quote discounts have been updated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Save_Changes</name>
        <label>Save Changes?</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Discounts</targetReference>
        </connector>
        <fields>
            <name>Preview_Row1</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Row 1&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Previous Discount: &lt;/strong&gt;{!recordID.Discount_1__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Updated Discount: &lt;/strong&gt;{!DiscountAmt_Row1}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Preview_Row2</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Row 2&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Previous Discount: &lt;/strong&gt;{!recordID.Discount_2__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Updated Discount: &lt;/strong&gt;{!DiscountAmt_Row2}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Preview_Row3</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Row 3&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Previous Discount: &lt;/strong&gt;{!recordID.Discount_3__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Updated Discount: &lt;/strong&gt;{!DiscountAmt_Row3}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Preview_Row4</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Row 4&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Previous Discount: &lt;/strong&gt;{!recordID.Discount_4__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Updated Discount: &lt;/strong&gt;{!DiscountAmt_Row4}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>User selects percentage discount</description>
        <name>Select_Discount_Percentage</name>
        <label>Select Discount Percentage</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Calculate_Discounts</targetReference>
        </connector>
        <fields>
            <name>Row_1_Discount_Percentage</name>
            <dataType>Number</dataType>
            <fieldText>Row 1 Discount Percentage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Row_2_Discount_Percentage</name>
            <dataType>Number</dataType>
            <fieldText>Row 2 Discount Percentage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Row_3_Discount_Percentage</name>
            <dataType>Number</dataType>
            <fieldText>Row 3 Discount Percentage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Row_4_Discount_Percentage</name>
            <dataType>Number</dataType>
            <fieldText>Row 4 Discount Percentage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DiscountAmt_Row1</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>DiscountAmt_Row2</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>DiscountAmt_Row3</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>DiscountAmt_Row4</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
</Flow>
