force-app/main/default/flows/Box_Dimensions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Box</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Is_Used_To_Calculate_ROW__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Box Type</label>
        </rules>
    </decisions>
    <description>Passes the two-piece box size information from the component object to the Opportunity.</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Game_Components__c].Height__c + 
(IF(ISPICKVAL([Game_Components__c].Material__c ,&quot;1.5mm Board&quot;),0.0984252,
IF(ISPICKVAL([Game_Components__c].Material__c ,&quot;2mm Board&quot;),0.11811,
IF(ISPICKVAL([Game_Components__c].Material__c ,&quot;2.5mm Board&quot;),0.137795,
IF(ISPICKVAL([Game_Components__c].Material__c ,&quot;3mm Board&quot;),0.15748,0
)))))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_Box_Top_Height_c</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.Height__c} + 
(IF(ISPICKVAL({!myVariable_current.Material__c} ,&quot;1.5mm Board&quot;),0.0984252,
IF(ISPICKVAL({!myVariable_current.Material__c} ,&quot;2mm Board&quot;),0.11811,
IF(ISPICKVAL({!myVariable_current.Material__c} ,&quot;2.5mm Board&quot;),0.137795,
IF(ISPICKVAL({!myVariable_current.Material__c} ,&quot;3mm Board&quot;),0.15748,0
)))))</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Game_Components__c].Length__c + 
(IF(ISPICKVAL([Game_Components__c].Material__c ,&quot;1.5mm Board&quot;),0.15748,
IF(ISPICKVAL([Game_Components__c].Material__c ,&quot;2mm Board&quot;),0.19685,
IF(ISPICKVAL([Game_Components__c].Material__c ,&quot;2.5mm Board&quot;),0.23622,
IF(ISPICKVAL([Game_Components__c].Material__c ,&quot;3mm Board&quot;),0.275591,0
)))))
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_Box_Top_Length_c</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.Length__c} + 
(IF(ISPICKVAL({!myVariable_current.Material__c} ,&quot;1.5mm Board&quot;),0.15748,
IF(ISPICKVAL({!myVariable_current.Material__c} ,&quot;2mm Board&quot;),0.19685,
IF(ISPICKVAL({!myVariable_current.Material__c} ,&quot;2.5mm Board&quot;),0.23622,
IF(ISPICKVAL({!myVariable_current.Material__c} ,&quot;3mm Board&quot;),0.275591,0
)))))</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Game_Components__c].Width__c + 
(IF(ISPICKVAL([Game_Components__c].Material__c ,&quot;1.5mm Board&quot;),0.15748,
IF(ISPICKVAL([Game_Components__c].Material__c ,&quot;2mm Board&quot;),0.19685,
IF(ISPICKVAL([Game_Components__c].Material__c ,&quot;2.5mm Board&quot;),0.23622,
IF(ISPICKVAL([Game_Components__c].Material__c ,&quot;3mm Board&quot;),0.275591,0
)))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_A1_Box_Top_Width_c</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.Width__c} + 
(IF(ISPICKVAL({!myVariable_current.Material__c} ,&quot;1.5mm Board&quot;),0.15748,
IF(ISPICKVAL({!myVariable_current.Material__c} ,&quot;2mm Board&quot;),0.19685,
IF(ISPICKVAL({!myVariable_current.Material__c} ,&quot;2.5mm Board&quot;),0.23622,
IF(ISPICKVAL({!myVariable_current.Material__c} ,&quot;3mm Board&quot;),0.275591,0
)))))</expression>
        <scale>18</scale>
    </formulas>
    <interviewLabel>Box_Dimensions-4_InterviewLabel</interviewLabel>
    <label>Box Dimensions</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Game_Components__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Game_Components__c].Custom Game Quote.Opportunity Name</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Size Fields</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Custom_Game_Quote__r.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Box Bottom Height</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Box_Height__c</field>
            <value>
                <elementReference>myVariable_current.Height__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Box Bottom Length</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Box_Length__c</field>
            <value>
                <elementReference>myVariable_current.Length__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Box Top Height</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Box_Top_Height__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_Box_Top_Height_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Box Top Length</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Box_Top_Length__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_Box_Top_Length_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Box Top Width</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Box_Top_Width__c</field>
            <value>
                <elementReference>formula_4_myRule_1_A1_Box_Top_Width_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Box Bottom Width</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>Box_Width__c</field>
            <value>
                <elementReference>myVariable_current.Width__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Game_Components__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Game_Components__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
