force-app/main/default/flows/ISBN_Task_ISBN_Object.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Barcode</name>
        <label>Generate Barcode</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>rcsfl__NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.Opportunity__r.Prepress_person__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Generate Barcode</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>New_ISBN_Submission</name>
        <label>New ISBN Submission</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <actionName>rcsfl__NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.Opportunity__r.Owner.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Opportunity__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>New ISBN Submission</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Is_Order_Closed_Won</name>
        <label>Is Order Closed Won?</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Not Closed Won</defaultConnectorLabel>
        <rules>
            <name>Closed_Won_Proof_Won</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__r.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proof Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Barcode</targetReference>
            </connector>
            <label>Closed Won / Proof Won</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Form_or_New_Assignment</name>
        <label>New Form or New Assignment?</label>
        <locationX>512</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ISBN_Just_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assigned__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Order_Closed_Won</targetReference>
            </connector>
            <label>ISBN Just Assigned</label>
        </rules>
        <rules>
            <name>New_ISBN_Form_Submission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ISBN_Identifier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Enter Assigned ISBN Here</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_ISBN_Submission</targetReference>
            </connector>
            <label>New ISBN Form Submission</label>
        </rules>
    </decisions>
    <description>Triggers tasks for AM/prepress when a new ISBN form submission is received or an ISBN is assigned.
Added Due Date to tasks so they will appear on kanban view</description>
    <environments>Default</environments>
    <interviewLabel>ISBN Task - ISBN Object {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ISBN Task - ISBN Object</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Form_or_New_Assignment</targetReference>
        </connector>
        <object>ISBN__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
