force-app/main/default/flows/Oppty_Ready_for_Proofing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Closed_Won_Create_Proof_Task</name>
        <label>Closed Won - Create Proof Task</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>rcsfl__NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.Prepress_person__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Upload Production File, Mark Approved for Production</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Proof_Won_Task</name>
        <label>Proof Won - Create Proof Task</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <actionName>rcsfl__NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.Prepress_person__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Approved for Production - Not Closed Won</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Is_Hardcopy_Proofing_Included</name>
        <label>Is Hardcopy Proofing Included?</label>
        <locationX>534</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Hardcopy Proofing</defaultConnectorLabel>
        <rules>
            <name>Electronic_Proofing</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PRN_proofing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Electronic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PRN_proofing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Stage_Closed_Won</targetReference>
            </connector>
            <label>Electronic Proofing</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines if stage is closed won, proof won, or other</description>
        <name>Is_Stage_Closed_Won</name>
        <label>Is Stage Closed Won</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Other Stage</defaultConnectorLabel>
        <rules>
            <name>Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Closed_Won_Create_Proof_Task</targetReference>
            </connector>
            <label>Closed Won</label>
        </rules>
        <rules>
            <name>Proof_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proof Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Proof_Won_Task</targetReference>
            </connector>
            <label>Proof Won</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Rea {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Oppty - Ready for Proofing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Hardcopy_Proofing_Included</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Production_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Electronic Proof Approved</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
