force-app/main/default/flows/PRN_Automated_TrustPilot_AFS_Ground_UPS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Domestic_Tracking_Email</name>
        <label>Send Domestic Tracking Email</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <actionName>Opportunity.DOMESTIC_PRN_Automated_Ground_UPS</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Task_UPS_Tracking_Sent_Domestic</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_LTL_Tracking_Email</name>
        <label>Send LTL Tracking Email</label>
        <locationX>578</locationX>
        <locationY>528</locationY>
        <actionName>Opportunity.PRN_Automated_Ground_LTL_UPS</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Task_UPS_LTL_Tracking_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Small_Parcel_Tracking_Email</name>
        <label>Send Small Parcel Tracking Email</label>
        <locationX>314</locationX>
        <locationY>528</locationY>
        <actionName>Opportunity.PRN_Automated_Ground_Small_Parcel_UPS</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Task_UPS_Small_Parcel_Tracking_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Trustpilot_Invite</name>
        <label>Send Trustpilot Invite</label>
        <locationX>1106</locationX>
        <locationY>408</locationY>
        <actionName>Opportunity.PRN_Automated_Final</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>TrustPilot_Email_Triggered</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Task_UPS_LTL_Tracking_Sent</name>
        <label>Task: UPS LTL Tracking Sent</label>
        <locationX>578</locationX>
        <locationY>648</locationY>
        <actionName>rcsfl__NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>TrustPilot_Email_Queued</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Automated Email: UPS LTL Tracking Sent</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Task_UPS_Small_Parcel_Tracking_Sent</name>
        <label>Task: UPS Small Parcel Tracking Sent</label>
        <locationX>314</locationX>
        <locationY>648</locationY>
        <actionName>rcsfl__NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>TrustPilot_Email_Queued</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Automated Email: UPS Small Parcel Tracking Sent</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Task_UPS_Tracking_Sent_Domestic</name>
        <label>Task: UPS Tracking Sent - Domestic</label>
        <locationX>50</locationX>
        <locationY>528</locationY>
        <actionName>rcsfl__NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>TrustPilot_Email_Queued</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Automated Email: UPSTracking Sent (Domestic)</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Throw_Out_HCP</name>
        <label>Throw Out HCP</label>
        <locationX>1370</locationX>
        <locationY>408</locationY>
        <actionName>rcsfl__NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Throw Out HCP</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>TrustPilot_Email_Queued</name>
        <label>Task: TrustPilot Email Queued</label>
        <locationX>248</locationX>
        <locationY>960</locationY>
        <actionName>rcsfl__NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>TrustPilot Email Queued</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>TrustPilot_Email_Triggered</name>
        <label>Task: TrustPilot Email Triggered</label>
        <locationX>1106</locationX>
        <locationY>528</locationY>
        <actionName>rcsfl__NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>TrustPilot Email Triggered</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Emails_Blocked</name>
        <label>Emails Blocked?</label>
        <locationX>974</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>Send_Trustpilot_Invite</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Blocked</defaultConnectorLabel>
        <rules>
            <name>Blocked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Block_emails__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Blocked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Hardcopy_Proof_in_Office</name>
        <label>Hardcopy Proof in Office?</label>
        <locationX>1502</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>No HCP</defaultConnectorLabel>
        <rules>
            <name>HCP_at_EFO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PRN_proofing__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Electronic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Throw_Out_HCP</targetReference>
            </connector>
            <label>HCP at EFO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Small_Parcel_or_LTL</name>
        <label>Small Parcel or LTL?</label>
        <locationX>446</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>Send_LTL_Tracking_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>LTL</defaultConnectorLabel>
        <rules>
            <name>Small_Parcel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tracking_No__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>1z</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Small_Parcel_Tracking_Email</targetReference>
            </connector>
            <label>Small Parcel</label>
        </rules>
    </decisions>
    <decisions>
        <name>Where_is_Order_Shipping_From</name>
        <label>Where is Order Shipping From?</label>
        <locationX>248</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>Small_Parcel_or_LTL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>China</defaultConnectorLabel>
        <rules>
            <name>US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Shipping_Status_Standard__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In-Transit (Domestic)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Domestic_Tracking_Email</targetReference>
            </connector>
            <label>US</label>
        </rules>
    </decisions>
    <description>Adjusted start conditions to include orders with ground shipping company set as TForce.</description>
    <environments>Default</environments>
    <interviewLabel>PRN Automated TrustPilot AFS Ground (UPS) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PRN Automated TrustPilot AFS Ground (UPS)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>749</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Where_is_Order_Shipping_From</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 OR 2) AND (3 OR 7) AND 4 AND 5 AND 6</filterLogic>
        <filters>
            <field>Production_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Off-Press</stringValue>
            </value>
        </filters>
        <filters>
            <field>Production_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In-Transit</stringValue>
            </value>
        </filters>
        <filters>
            <field>Ground_Shipping_Company__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UPS Ground</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tracking_No__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Block_emails__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>GreaterThan</operator>
            <value>
                <dateValue>2013-11-01</dateValue>
            </value>
        </filters>
        <filters>
            <field>Ground_Shipping_Company__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TForce</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X10_Days_After</name>
            <connector>
                <targetReference>Emails_Blocked</targetReference>
            </connector>
            <label>10 Days After</label>
            <offsetNumber>10</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X30_Days_Later</name>
            <connector>
                <targetReference>Hardcopy_Proof_in_Office</targetReference>
            </connector>
            <label>30 Days Later</label>
            <offsetNumber>30</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
