force-app/main/default/flows/Quote_Referral_Program_Total_Quantity_Recalculation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Whats_the_referral_Reward</name>
        <label>Whats the referral Reward?</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X10_overrun</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Referral_Reward__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>10% overrun</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNewOrChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X10_overrun_update</targetReference>
            </connector>
            <label>10 % overrun</label>
        </rules>
        <rules>
            <name>X250_discount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Referral_Reward__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>$250 discount</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNewOrChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X250_discount_update</targetReference>
            </connector>
            <label>$250 discount</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isNewOrChanged</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() || ISCHANGED({!$Record.Referral_program__c}) || ISCHANGED({!$Record.Referral_Reward__c})</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>TotalQuantity1</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Display_Quantity_1__c}*1.12</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalQuantity2</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Display_Quantity_2__c}*1.12</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalQuantity3</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Display_Quantity_3__c}*1.12</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalQuantity4</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Display_Quantity_4__c}*1.12</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Quote - Referral Program Total Quantity Recalculation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote - Referral Program Total Quantity Recalculation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>X10_overrun_update</name>
        <label>10% overrun update</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Total_Quantity_1__c</field>
            <value>
                <elementReference>TotalQuantity1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Quantity_2__c</field>
            <value>
                <elementReference>TotalQuantity2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Quantity_3__c</field>
            <value>
                <elementReference>TotalQuantity3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Quantity_4__c</field>
            <value>
                <elementReference>TotalQuantity4</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>X250_discount_update</name>
        <label>250$ discount update</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Discount_1__c</field>
            <value>
                <numberValue>-250.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount_2__c</field>
            <value>
                <numberValue>-250.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount_3__c</field>
            <value>
                <numberValue>-250.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount_4__c</field>
            <value>
                <numberValue>-250.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Whats_the_referral_Reward</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Referral_program__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Referral_Reward__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Quote</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>iQuoteColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
</Flow>
