force-app/main/default/flows/Quote_Friend_of_Ninja_Program.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Did_we_find_a_single_opp</name>
        <label>Did we find a single opp?</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Update_Total_Quantity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>opp_found</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.Production_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for Proofing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity.Production_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting for Artwork</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_PRN_logo_for_FOTN_Program_task</targetReference>
            </connector>
            <label>opp found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_new_or_changed</name>
        <label>Is new or changed?</label>
        <locationX>336</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>new_or_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNewOrChanged</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Did_we_find_a_single_opp</targetReference>
            </connector>
            <label>new or changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isNewOrChanged</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() || ISCHANGED({!$Record.Friend_of_the_Ninja_Program__c})</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>TotalQuantity1</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Display_Quantity_1__c}*1.07</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalQuantity2</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Display_Quantity_2__c}*1.07</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalQuantity3</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Display_Quantity_3__c}*1.07</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalQuantity4</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Display_Quantity_4__c}*1.07</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Quote - Friend of Ninja Program {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote - Friend of Ninja Program</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_PRN_logo_for_FOTN_Program_task</name>
        <label>Create PRN logo for FOTN Program task</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Update_Total_Quantity</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0059000000U0EbvAAF</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Look for PRN logo for FOTN Program</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Total_Quantity</name>
        <label>Update Total Quantity</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>Total_Quantity_1__c</field>
            <value>
                <elementReference>TotalQuantity1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Quantity_2__c</field>
            <value>
                <elementReference>TotalQuantity2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Quantity_3__c</field>
            <value>
                <elementReference>TotalQuantity3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Quantity_4__c</field>
            <value>
                <elementReference>TotalQuantity4</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_new_or_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Friend_of_the_Ninja_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Quote</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>iQuoteColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
</Flow>
