force-app/main/default/flows/Unpaid_Order_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Chatters Eason &amp; AM to hold shipping until confirmed by AM.</description>
        <name>Chatter_Eason</name>
        <label>Chatter Eason</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Make_Chatter_Rich_Text</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>HoldShipment</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Unpaid_Order_Approved</name>
        <label>Unpaid Order Approved</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Unpaid Order Approved for Production</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Unpaid_Order_Off_Press</name>
        <label>Unpaid Order Off Press</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Chatter_Eason</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Unpaid Order Off Press</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Production_Status</name>
        <label>Production Status</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved_for_Production</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Production_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved for production</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unpaid_Order_Approved</targetReference>
            </connector>
            <label>Approved for Production</label>
        </rules>
        <rules>
            <name>Off_Press</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Production_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Off-Press</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unpaid_Order_Off_Press</targetReference>
            </connector>
            <label>Off-Press</label>
        </rules>
    </decisions>
    <description>Triggers tasks when an order is approved for production or is off-press despite payment not matching ROW.</description>
    <environments>Default</environments>
    <interviewLabel>Unpaid Order Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Unpaid Order Tasks</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Make_Chatter_Rich_Text</name>
        <label>Make Chatter Rich Text</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Chatter_Eason.feedItemId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsRichText</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Production_Status</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>ROW_Equals_Payments__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Production_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved for production</stringValue>
            </value>
        </filters>
        <filters>
            <field>Production_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Off-Press</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>HoldShipment</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;@[00590000001nfmcAAA] This order is not paid in full.  Please hold shipment until @[{!$Record.Owner.Id}] confirms.&lt;/p&gt;</text>
    </textTemplates>
</Flow>
